{% extends 'layout.html' %}
{% block content %}    
<div class="col-md-4 offset-md-4">
    <div class="card-body p-5" style="background-color: #121212;">
        {% if message %}
            <h1 style="color-scheme: red;">{{message}}</h2>
        {% endif %}
        <h1>Login</h1>
        <form method="POST"> {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">Login</button>
            <p>Don't have an account? Create one <a href="{% url 'register' %}">here!</a></p>

        </form>

    </div>
</div>
{% endblock content %}