<form action="{% url 'password' %}">
    <h1>Password Generator</h1>
    <label for="lenght">Select the lenght of your password: </label>
    <input type="number" name="lenght" id="lenght">
    <br>
    Add:
    <label for="uppercase">Uppercase</label>
    <input type="checkbox" name="uppercase" id="uppercase">

    <label for="special">Special Characters</label>
    <input type="checkbox" name="special" id="special">

    <label for="numbers">Numbers</label>
    <input type="checkbox" name="numbers" id="numbers">
    <br>
    <button>Generate Password</button>
</form>