{% extends 'layout.html' %}
{% block content %}    
<table class="table table-striped table-dark">
    <thead>
        <tr>
        <th scope="col">Platform</th>
        <th scope="col">Password</th>
        </tr>
    </thead>
    <tbody>
        {% for pwd in passwords %}
        <tr>
            <td>{{pwd.platform}}</td>
            <td>{{pwd.password}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="{% url 'create' %}">
    <button type="submit" class="btn btn-success">Add</button>
</form>
{% endblock content %}